<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
   <div class="container">
      <%= link_to "BachesTj", root_path, id: "logo" %>
      <nav>
      <ul class="nav pull-right">
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "Acerca de BachesTj", about_path %></li>
         <% if user_signed_in? %>
            <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Cuenta <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><%= link_to "Configuraciones", '#' %></li>
               <li class="divider"></li>
               <li>
               <%= link_to "Salir de Sesion", destroy_user_session_path, method: "delete" %>
               </li>
            </ul>
            </li>
         <% else %>
            <li><%= link_to "Entrar en Sesion", new_user_session_path %></li>
         <% end %>
      </ul>
      </nav>
   </div>
</div>
</header>
